#wayback1996-main {
    padding-top: 5px;
}
#wayback1996-sequence {
    display: block;
    clear: both;
    padding-top: 10px;
    height: 30px;
    font-size: 18px;
    color: white;
    font-style: bold;
    text-align: left;
}
#wayback1996-legend {
    padding: 10px 0 0 3px;
}
#wayback1996-sequence text, #wayback1996-legend text {
    font-weight: 600;
    fill: #fff;
}
#wayback1996-chart {
    width: 100%;
}

#wayback1996-chart svg {
    margin: auto;
}
#wayback1996-percentage {
    font-size: 2.5em;
}
.wayback1996-divBtn {
    width: 100%;
}
.wayback1996-yearBtn {
    float: left;
    background-color: black !important;
    color: white !important;
    font-size: 18px;
    padding: 5px !important;
    text-align: center;
    cursor: pointer;
}
.wayback1996-activeBtn {
    background-color: green !important;
    color: white !important;
    font-size: 18px;
}
.wayback1996-symb {
    color: red;
    font-size: 18px;
}
